body {
    background-color: #333;
    color: #fff;
}

h1 {
    text-align: center;
}

main {
    height: 800px;
    width: 800px;
    margin: 20px auto;
    background-color: transparentize(#000, 0.3);
    border-radius: 5px;
}

.d3-tip {
  position: relative;
  text-align: center;
  background-color: transparentize(#000000, .1);
  border-radius: 3px;
  border: 2px solid #000;
  color: #fff;
  padding: 10px;
  h4 {
    margin: 0;
  }
}