* {
  box-sizing:border-box;
}
body {
  background-color: #222;
  color:#ddd;
}
main {
  width:600px;
  margin:40px auto;
}
.twitch {
  border: 1px solid #333;
  background-color: #444;
  height:102px;
  cursor:pointer;
}
.ch-icon {
  height:100px;
  width:100px;
  float:left;
}
.ch-title {
  display:inline-block;
  font-size:28px;
  margin:32px 20px 0;
}
.ch-desc {
  font-size: 14px;
  display:inline-block;
  width:375px;
  color:#888;
}
.ch-status {
  height:100px;
  width:50px;
  float:right;
  padding:10px;
}
.active {
  background-color: green;
}
.down {
  background-color: red;
}
.sort {
  width:32.85%;
  height:30px;
  font-weight: bold;
  background-color: #444;
  border:0px;
  margin:0;
  padding:0;
}
#search {
  width:100%;
  margin:4px 0;
  border:0px;
  height:30px;
  background-color: #000;
  padding:10px;
  font-weight: bold;
}