/* GENERAL */
body {
  background-color: #242424;
}
ul {
  padding:0;
}
paper-tab {
  background-color:#1b5e20;
}

a {
  color:#fff;
}
a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}
button {
  margin:8px 4px;
}
.is-sticky nav {
  width: 100%;
  z-index:100;
  box-shadow: 0 6px 10px #222;
}
section {
  padding-top:60px;
  min-height:700px;
  overflow-y: auto;
}
#home h1, #home h2, #portfolio h1 {
  color: #34ad3c;
}
#about, #skills {
  background-color: #1b5e20;
}



/* SKILLS */
#skills ul {
  font-size:3rem;
  color: #fff;
  padding:10px;
}
.progress {
  width:calc(100% - 200px);
  float:right;margin: 6px 0;
  height:28px;
}


/* PORTFOLIO */
#portfolio {
  max-width: 1400px;
  padding-top:60px;
  margin:auto;
  
}
paper-card .card-bottom {
  min-height:160px;
}



/* ABOUT */
#about {
  overflow-y:auto;
  margin:auto;
  width: 100%;
  max-width: 100%;
}
.about p {
  font-size: 1.8rem;
  color: #fff;
}
.profile-pic {
  border-radius: 50%;
  height:140px;
  width:140px;
}
#skills ul {
  font-size:3rem;
  color: #fff;
  padding:10px;
} 

#education ul {
  color: #fff;
  font-size: 2rem;
}
#enjoys li, #education li {
  display:inline-block;
  margin:20px 40px;
  color: #fff;
}
#education li {
  width:200px;
}
#education p {
  color:#fff;
  font-size:1.2rem;
}