* {
  box-sizing:border-box;
}

body {
  background-color: #222;
  color:#ddd;
}

#news {
  width: 96%;
  margin:0 auto;
  text-align:center;
}
camper-story {
  display: inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}


.story {
  background-color: #444;
  width:400px;
  height: 140px;
  float:left;
  margin:10px;
  cursor:pointer;
  position: relative;
}

.image-container {
  height:140px;
  width:140px;
  float:left;
  margin-right:10px;
}
.avatar {
  height:60px;
  float:right;
  margin-top:80px;
}
.headline {
  padding:10px;
  margin:0;
}
.upvotes {
  padding:10px 0;
  height:40px;
  width:40px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  bottom:4px;
  right:4px;
}
