body {
  background-color: #222;
  color:#ddd;
}
main {
  margin:40px auto;
  position:relative;
  width:400px;
}
.ring {
  height:400px;
  width:400px;
  border-radius:50%;
  position: absolute;
  clip: rect(0px,195px,195px,0px);
  cursor:pointer;
  transition:0.4s;
}
.ring-red {
  background:#600;
  transform:rotate(90deg);
}
.ring-red.active {
  background:#f00;
}
.ring-green {
  background:#060;
}
.ring-green.active {
  background:#0f0;
}
.ring-blue {
  background:#006;
  transform:rotate(180deg);
}
.ring-blue.active {
  background:#00f;
}
.ring-yellow {
  background:#660;
  transform:rotate(270deg);
}
.ring-yellow.active {
  background:#ff0;
}
#interface {
  position:absolute;
  top:110px;
  left:110px;
  height:180px;
  width:180px;
  background-color: #444;
  z-index:100;
  border-radius:50%;
  padding:14px;
  border:10px solid #222;
}
#output {
  height:30px;
  width:80px;
  margin:auto;
  background-color: #000;
  border-radius:5px;
  color:green; 
  padding:4px;
}
#output.strict {
  color:red;
}
#interface .btn {
  margin:4px;
}