
body {
  background-color: #222;
  color:#ddd;
}
main {
  margin:40px auto;
  position:relative;
  width:400px;
}
.ring {
  height:400px;
  width:400px;
  border-radius:50%;
  position: absolute;
  clip: rect(0px,195px,195px,0px);
  cursor:pointer;
}
.ring-red {
  background-image: radial-gradient(transparent 31%, #900 31%, #900 100%);
  transform:rotate(90deg);
}
.ring-green {
  background-image: radial-gradient(transparent 31%, #090 31%, #090 100%);
}
.ring-blue {
  background-image: radial-gradient(transparent 31%, #009 31%, #009 100%);
  transform:rotate(180deg);
}
.ring-yellow {
  background-image: radial-gradient(transparent 31%, #990 31%, #990 100%);
  transform:rotate(270deg);
}
#interface {
  position:absolute;
  top:110px;
  left:110px;
  height:180px;
  width:180px;
  background-color: #444;
  z-index:100;
  border-radius:50%;
  padding:14px;
  border:10px solid #222;
}
#output {
  height:30px;
  width:80px;
  margin:auto;
  background-color: #000;
  border-radius:5px;
  color:green; 
  padding:4px;
}
#output.strict {
  color:red;
}
#interface .btn {
  margin:4px;
}