* {
  box-sizing: border-box;
}
html, body, main, .container {
  height: 100%;
  width:100%;
}
body {
  background-color: #222;
  color:#fff;
  text-shadow: 1px 1px #000;
  background-size: cover;
}
.container {
  padding:40px;
}
.top-spacing {
  margin-top:80px;
}
.form-group input {
  display: inline;
  width:200px;
}
h1:first-child {
  margin-top:80px;
}
